#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
*_.ptml
*_.html

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Shortcuts
*.appref-ms
*.lnk